Client/node_modules
Server/InteractiveEducationalSoftware/InteractiveEducationalSoftware/.vs
*.suo
Server/InteractiveEducationalSoftware/InteractiveEducationalSoftware/IES.Interfaces/obj
Server/InteractiveEducationalSoftware/InteractiveEducationalSoftware/IES.Repositories/obj
Server/InteractiveEducationalSoftware/InteractiveEducationalSoftware/IES.Services/obj
Server/InteractiveEducationalSoftware/InteractiveEducationalSoftware/InteractiveEducationalSoftware/obj
Server/InteractiveEducationalSoftware/InteractiveEducationalSoftware/IES.Core/bin
Server/InteractiveEducationalSoftware/InteractiveEducationalSoftware/IES.Core/obj
Server/InteractiveEducationalSoftware/InteractiveEducationalSoftware/IES.Services/bin
Server/InteractiveEducationalSoftware/InteractiveEducationalSoftware/InteractiveEducationalSoftware/bin
Server/InteractiveEducationalSoftware/InteractiveEducationalSoftware/IES.Models/bin
Server/InteractiveEducationalSoftware/InteractiveEducationalSoftware/IES.Models/obj
Server/InteractiveEducationalSoftware/InteractiveEducationalSoftware/IES.Repositories/bin
Server/InteractiveEducationalSoftware/InteractiveEducationalSoftware/IES.Interfaces/bin
Server/InteractiveEducationalSoftware/InteractiveEducationalSoftware/.vs
