.insertForm {
    text-align: center;
}

.mainHeader {
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
}

.navbar {
    justify-content: space-between;
}

.link {
    text-decoration: none;
    color: azure;
}

.home {
    padding-right: 15px;
}

.resultMessage {
    text-align: center;
    color: red;
}

.col-3, .col-6, .col-12 {
    text-align: left;
}

.sub {
    color: #673ab7;
}

.saveButton {
    size: fit-content;
    font-size: 18px;
}
