<mat-card class="carduser" style="width: 50%; text-align:center">
    <br>
    <mat-card-title class="card_title">Profile</mat-card-title>
    <form #userData="ngForm" (ngSubmit)="onSubmit(profile)"class="insertForm">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <mat-card-subtitle class="sub">Personal Info</mat-card-subtitle>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input type="text" name="firstName" [(ngModel)]="profile.name" matInput required>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input type="text" name="lastName" [(ngModel)]="profile.surname" matInput required>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <br>

        <mat-divider class="divider"></mat-divider>

        <br>

        <div class="container">
            <div class="row">
                <div class="col-6">
                    <mat-card-subtitle class="sub">Contact Info</mat-card-subtitle>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input type="email" name="email" [(ngModel)]="profile.email" matInput required [email]="true">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <br>
        <mat-card-actions>
            <button type="submit" mat-raised-button color="primary" class="saveButton">Save</button>
        </mat-card-actions>
        <br>
        <br>
    </form>
</mat-card>