<mat-card style="margin: 2vh; width: 50%; margin: auto;" class="scrollable-content">
    <mat-card-title>
        Chapter: {{lesson.chapter}}
    </mat-card-title>
    <mat-card-subtitle>
        {{lesson.name}} - {{lesson.description}}
    </mat-card-subtitle>
    <mat-card-content style="height: 70vh;">
        <p [innerText]="lesson.material"></p>
    </mat-card-content>
    <div style="width:100%; display: inline-flex; justify-content:space-around">
        <button mat-button (click)="goToLesson(-1)">Previous Lesson</button>
        <button mat-button>Complete Lesson</button>
        <button mat-button (click)="goToLesson(1)">Next Lesson</button>
    </div>
</mat-card>