<div style="width: 100%; display: inline-flex; justify-content: space-between; padding-top: 2vh;">
    <a mat-list-item (click)="sidenav?.toggle()" class="link">
        <mat-icon *ngIf="sidenav?.opened">chevron_left</mat-icon>
        <mat-icon style="padding-left: 1vw;" *ngIf="!sidenav?.opened">menu</mat-icon>
    </a>
    <mat-label class="title" style="display: flex; justify-content: center; font-size: 20px;">
        Interactive Educational Software For C#
    </mat-label>
    <button mat-icon-button style="float: right; width: fit-content; padding-right: 1vw;" [routerLink]="['/profile']">
        <mat-icon>person</mat-icon>Profile
    </button>
</div>